<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Come For the Quotes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Come For the Quotes</a>
        </h1>
        <nav>
          <a href="/login">LOGIN</a>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        These Funny Quotes will always brought to you by the Team of Joshua,
        Govnor, Guvanchmyrat, Lucio
      </footer>
    </div>

  </body>

</html>