<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Come For the Quotes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body>
    
    <header>
      <div class="container">
        <div class="row">
          <a href="/" class="text-center">  
            <h1>Come For the Quotes</h1>                                       
          </a>
        </div>                
      </div>

      <div class= "container">
        <nav class="row">
          {{#if loggedIn}}                               
            <a href="/createquote" 
            class="btn btn-lg btn-primary col m-1">CREATE A QUOTE</a>
                                       
            <a href="/logout" type="button" 
            class="btn btn-lg btn-danger col m-1" 
            data-bs-toggle="popover" 
            title="Popover title"
            data-bs-content="Come back for more great quotes">LOGOUT</a>             
          {{else}}    
            <a href="/login" type="button"
            class="btn btn-lg btn-primary col m-1"
            data-bs-toggle="popover"
            title="Popover title"
            data-bs-content="Get Ready to See Your Favorite">LOGIN</a>
          {{/if}}
        </nav>
      </div>       
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <div class="align-self">
        <p class="text-center fs-5">
          These Funny Quotes will always brought to you by the Team of Joshua,
          Govnor, Guvanchmyrat, and Lucio
        </p>         
      </div>
    </footer>    
  </body>

</html>