<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Come For the Quotes</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Come For the Quotes</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/createquote">Create Quotes</a>
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
          {{/if}}

        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        These Quotes will always brought to you by the Team of Joshua, Govnor,
        Guvanchmyrat, Lucio
      </footer>
    </div>

  </body>
  {{#if loggedIn}}
    <script src="/js/logout.js"></script>
  {{/if}}

</html>