<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Come For the Quotes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Come For the Quotes</a>
        </h1>
        <nav>
          <button
            type="button"
            class="btn btn-lg btn-danger"
            data-bs-toggle="popover"
            title="Popover title"
            data-bs-content="And here's some amazing content. It's very engaging. Right?"
          >login</button>
          <a href="/login">LOGIN</a>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        These Funny Quotes will always brought to you by the Team of Joshua,
        Govnor, Guvanchmyrat, Lucio
      </footer>
    </div>

  </body>

</html>