<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Come For the Quotes</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Come For the Quotes</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <button>create a quote</button>
            <a href="/createquote">Create a Quote</a>
            <button
              type="button"
              class="btn btn-lg btn-danger"
              data-bs-toggle="popover"
              title="Popover title"
              data-bs-content="Come back for more great quotes"
            >logout</button>
            <a href="/logout">LOGOUT</a>
          {{else}}
            <button
              type="button"
              class="btn btn-lg btn-danger"
              data-bs-toggle="popover"
              title="Popover title"
              data-bs-content="Get Ready to See Your Favorite"
            >login</button>
            <a href="/login">LOGIN</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        These Funny Quotes will always brought to you by the Team of Joshua,
        Govnor, Guvanchmyrat, Lucio
      </footer>
    </div>

  </body>

</html>