<ol class="quote-list">
  <h2>Your Future Quotes Here</h2>
  <h3>"Going to make you a offer you can't refuse"</h3>
  <br>
  <h3>"Houston, we have a problem!"</h3>
  <br>
  <h3>"I'll be back!"</h3>
  {{#each quotes as |quote|}}
  <li>
    {{> quote-info quote }}
  </li>
  {{/each}}
</ol>