<form class="login-form conatiner">
  <div class="row">
    <label for="email-login" class="fs-5">Email:</label>
    <input type="text" id="email-login" />
  </div>
  <div class="row">
    <label for="password-login" class="fs-5">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="btn btn-primary col-4 ">Login</button>
  </div>
</form>
  
<form class="signup-form container">
  <div class="row">
    <label for="username-signup" class="fs-5">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="row">
    <label for="email-signup" class="fs-5">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div class="row">
    <label for="password-signup" class="fs-5">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div class="row justify-content-center">
    <button type="submit" class="btn btn-primary col-4">SIGNUP NOW</button>
  </div>
</form>

<script src="/javascript/login.js"></script>