{{> quote-info quote}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="like-btn">likes</button>
  </div>
</form>
{{/if}}

{{> comments quote.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
<script src="/js/like.js"></script>
{{/if}}