<article class="container">
  <div class="row justify-content-center quoteHolder text-center fs-4">
    {{> quote-info quote}}
  </div>
</article>


{{#if loggedIn}}
<form class="comment-form container">
  <div class="row">
    <textarea name="comment-body"></textarea>
  </div>

  <div class="row">
    <button type="submit" class="btn btn-primary m-1">COMMENT</button>
    <button type="button" class="like-btn btn btn-primary m-1">LIKE</button>
  </div>
</form>
{{/if}}

<div class="container">
    <div class="row justify-content-center">
        {{> comments quote.comments}}
    </div>
</div>
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/like.js"></script>
{{/if}}