* {
  box-sizing: border-box;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background-color: #7d7d7d;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  background-color: #d8d8d8;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.1s;
  font-size: 50px;
  padding: 20;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.quote-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffae00;
}

header h1 {
  font-size: 2.5em;
}

main {
  flex: 1;
  padding: 2% 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.quote {
  margin-bottom: 2%;
  line-height: 150%;
}

.quote .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.like-btn .dislike-btn {
  background-color: #197d0f;
  transition: background-color 0.1s;
}

.like-btn:hover {
  background-color: #1f9c13;
}

.dislike-btn:hover {
  background-color: #3486eb;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-quote-form input {
  width: 100%;
}

.edit-quote-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid rgb(128, 128, 128);
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  max-width: 100%;
  background-color: #ffae00;
}

.quoteHolder {
  background-color: white;
  border: solid 5px #ffae00;
  border-radius: 15px;
  padding: 2px;
}
.modal-container {
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  /* top: 0;
  left: 0; */
  height: 100vh;
  width: 100vh;
  transition: opacity 0.4s ease-in-out;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}
.modal {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
}
